<!-- Navbar -->
<nav class="navbar navbar-solid-transition">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo headLink">
            <i class="material-icons">code</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="#" class="aboutMeLink">About Me</a>
            </li>
            <li>
                <a href="#" class="portfolioLink">Portfolio</a>
            </li>
            <li>
                <a href="#" class="contactLink">Contact</a>
            </li>
            <li>
                <a href="https://www.github.com/dvnnorth" target="_blank">
                    <svg aria-labelledby="simpleicons-github-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-link">
                        <title id="simpleicons-github-icon">GitHub icon</title>
                        <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/dvnnorth" target="_blank">
                    <svg aria-labelledby="simpleicons-linkedin-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-link">
                        <title id="simpleicons-linkedin-icon">LinkedIn icon</title>
                        <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"></path>
                    </svg>
                </a>
            </li>
        </ul>

        <a href="" data-activates="slide-out" class="button-collapse right">
            <i class="material-icons white-text">menu</i>
        </a>
    </div>
</nav>

<ul id="slide-out" class="side-nav">
    <li>
        <a class="waves-effect waves-light aboutMeLink" href="#">About Me</a>
    </li>
    <li>
        <a class="waves-effect waves-light portfolioLink" href="#">Portfolio</a>
    </li>
    <li>
        <a class="waves-effect waves-light contactLink" href="#">Contact</a>
    </li>
    <li>
        <a class="waves-effect waves-light" href="https://www.github.com/dvnnorth" target="_blank">
            <svg aria-labelledby="simpleicons-github-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-link">
                <title id="simpleicons-github-icon">GitHub icon</title>
                <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"></path>
            </svg>
        </a>
    </li>
    <li>
        <a class="waves-effect waves-light" href="https://www.linkedin.com/in/dvnnorth" target="_blank">
            <svg aria-labelledby="simpleicons-linkedin-icon" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon-link">
                <title id="simpleicons-linkedin-icon">LinkedIn icon</title>
                <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"></path>
            </svg>
        </a>
    </li>
</ul>

<div class="section header" id="head">
    <div class="background">
        <img src="img/robin-benzrihem-501842-unsplash.jpg" alt="">
    </div>
    <div class="header-wrapper row valign-wrapper">
        <div class="col s12">
            <h1>
                <a href="#" class="aboutMeLink shadow-headline playfair-display white-text-override">Devin North</a>
            </h1>
            <span class="tagline shadow-minor">Web Developer</span>
            <button class="read-more">
                <a href="#" class="aboutMeLink">
                    <i class="icon-caret-down white-text shadow-minor"></i>
                </a>
            </button>
        </div>
    </div>
</div>

<div class="section black valign-wrapper" id="about-me">
    <div class="row valign">
        <div class="col s12 m10 offset-m1">
            <div class="col s12 center">
                <h2 class="section-title">About Me</h2>
            </div>
            <div class="row staggered-transition-wrapper" data-duration="0" data-staggereddelay=".9">
                <div class="col s12 fade-in-out">
                    <div class="team">
                        <div class="avatar-wrapper center">
                            <span class="avatar">
                                <img src="img/avatar_new.jpg" alt="">
                            </span>
                        </div>
                    </div>
                    <p class="caption">I am a Houston-based aspiring web developer and technophile with a passion for people,
                        technology, and combining their power to develop meaningful solutions. I have front and back end
                        development experience and can quickly pick up new libraries, frameworks, languages, and technologies.
                        I have strong interpersonal communication skills developed through regular interaction with clients,
                        local and overseas colleagues, and numerous third-parties across several industries. I have been
                        in positions where I have had to interpret and understand important KPIs and business metrics, develop
                        action plans, and execute to achieve relevant goals and understand what it means to work as a team
                        to reach a common goal. Above all, I have a deep passion for learning new technologies and diving
                        deep into projects to solve problems and deliver results.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section light full-height" id="portfolio">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <h1 class="center">Portfolio</h1>
            <div id="portfolio-content" class="row masonry-grid">
                {{#each projects}}
                <div class="col s12 m6 l4">
                    <div class="card fade-in-out up-in-out" data-duration="0">
                        <div class="card-image">
                            <img class="portfolio-image" data-project="{{id}}" src="{{img}}" alt="{{title}}" width=600>
                            <span class="card-title">{{title}}</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <p class="caption white-text">This website is a full-stack, dynamic web application as well! The front-end is a Materialize template rendered with express-handlebars and styled using some prebuilt and custom Sass. The backend was developed using Node and Express and the project information is stored on a MySQL server that is queried using the Sequelize ORM. The repository for this website is available <a class="white-text" style="font-weight: bold" href="https://www.github.com/dvnnorth/dvnnorth.github.io" target="_blank">here.</a></p>
        </div>
    </div>
</div>

<!-- Contact Me -->
<div class="section dark valign-wrapper" id="contact">
    <div class="container">
        <form action="https://formspree.io/prtflo@boun.cr" method="POST">
            <div class="row">
                <div class="col s12 center">
                    <h2 class="section-title">Contact Me</h2>
                </div>
                <div class="input-field col s6">
                    <input id="first_name" type="text" name="first_name" maxlength="50">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" name="last_name" maxlength="50">
                    <label for="last_name">Last Name</label>
                </div>
                <div class="input-field col s6" maxlength="50">
                    <input id="email" type="email" name="_replyto">
                    <label for="email">Email Address</label>
                </div>
                <div class="input-field col s6">
                    <input id="phone_number" type="text" name="phone" maxlength="12">
                    <label for="phone_number">Phone Number</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="message" name="message" class="materialize-textarea" maxlength="500"></textarea>
                    <label for="message">Message (max 500 characters)</label>
                    <input class="waves-effect waves-light btn-large" type="submit" value="Send">
                </div>
            </div>
        </form>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <p class="center-align">&copy;2018 Devin North | Built with Materialize</p>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modal -->
<div id="portfolio-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="black-text"><span id="modal-project-title"></span><i class="material-icons modal-close right">close</i></h4>
        <img id="modal-img" src="" alt="" width="100%">
        <p id="modal-project-description" class="black-text"></p>
    </div>
    <div class="modal-footer">
        <a id="modal-deployed-link" href="#" class="modal-close waves-effect waves-green btn-flat hide" target="_blank">Deployed
            Link
        </a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a id="modal-repo-link" href="#" class="modal-close waves-effect waves-green btn-flat" target="_blank">Repository
            Link
        </a>
    </div>
</div>